.hero {
  width: 100%;
  height: 100vh;
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3rem 7%;
  align-items: center;
  padding-top: 6rem;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    var(--secondary) 100%
  );
}

.hero-text .hero-title {
  font-size: 5rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-text .hero-subtitle {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    padding: 3rem 7%;
  }

  .hero-text {
    text-align: center;
    font-size: 1rem;
  }

  .hero-text .hero-title {
    font-size: 2rem;
  }

  .hero-text .hero-subtitle {
    font-size: 1rem;
  }

  .bg-hero {
    display: flex;
    justify-content: center;
  }

  .image-hero {
    width: 70%;
    object-fit: cover;
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding: 3rem 7%;
    padding-top: 6rem;
  }

  .hero-text {
    text-align: center;
    font-size: 1rem;
  }

  .hero-text .hero-title {
    font-size: 3rem;
  }

  .hero-text .hero-subtitle {
    font-size: 1rem;
  }

  .bg-hero {
    display: flex;
    justify-content: center;
  }

  .image-hero {
    width: 80%;
  }

  .hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      var(--secondary) 100%
    );
  }
}

.bg-hero {
  animation: slide 1.3s ease-in-out;
}

.hero-text {
  animation: slide 1s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
