.navbar {
  background-color: var(--three);
  padding: 1rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Teal);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar .navbar-logo a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar .navbar-links a {
  display: inline-block;
  margin: 0px 1rem;
  color: #fff;
}

.navbar .navbar-links a::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--Teal);
  transform: scaleX(0);
  transition: 250ms ease-in-out;
}

.navbar .navbar-links a:hover {
  color: var(--Teal);
}

.navbar .navbar-links a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  display: inline-block;
  color: #fff;
  margin: 0px 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--Teal);
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: 90%;
    flex-direction: column;
    padding: 1rem 2%;
  }

  .navbar .navbar-logo a {
    font-size: 1.2rem;
  }

  .navbar .navbar-extra a .icon {
    height: 1.2rem;
  }

  .navbar .navbar-links {
    background-color: var(--three);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    position: fixed;
  }
  .navbar .navbar-links a {
    margin: 0px 0.5rem;
  }
  .navbar .navbar-extra {
    margin-top: 1rem;
  }
}
