:root {
  --primary: #002b5b;
  --secondary: #2b4865;
  --three: #256d85;
  --Teal: #8fe3cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outlie: none;
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}
